<view class='item'>
  <view class='title'>{{item.title}} {{item.original_title}}({{item.year}})</view>
  <view class='item-content'>
    <image src='{{item.images.small}}' mode='widthFix'></image>
    <view class='info'>
      <view>导演：
        <view class='val' wx:for='{{item.directors}}' wx:key='id' wx:for-item='director'>
          <view wx:if='{{index === item.directors.length-1}}'>{{director.name}}</view>
          <view wx:else>{{director.name}} / </view>
        </view>
      </view>
      <view>主演：
        <view class='val' wx:for='{{item.casts}}' wx:key='id' wx:for-item='cast'>
          <view wx:if='{{index === item.casts.length-1}}'>{{cast.name}}</view>
          <view wx:else>{{cast.name}} / </view>
        </view>
      </view>
      <view>类型：
        <view class='val' wx:for='{{item.genres}}' wx:key='index' wx:for-item='genre'>
          <view wx:if='{{index === item.genres.length -1}}'>{{genre}} </view>
          <view wx:else>{{genre}} / </view>
        </view>
      </view>
      <view>上映日期：
        <view class='val' wx:for='{{item.pubdates}}' wx:key='index' wx:for-item='pubdate'>
          <view wx:if='{{index === item.pubdates.length -1}}'>{{pubdate}} </view>
          <view wx:else>{{pubdate}} / </view>
        </view>
      </view>
      <view>语言
        <view class='val' wx:for='{{item.languages}}' wx:key='index' wx:for-item='language'>
          <view wx:if='{{index === item.languages.length -1}}'>{{language}} </view>
          <view wx:else>{{language}} / </view>
        </view>
      </view>
    </view>
  </view>
  <view style='margin-top: 22rpx;'>
    <view>热门评论</view>
    <view wx:for='{{item.popular_reviews}}' wx:key='id' style='margin: 22rpx 12rpx;'>
      <view>{{item.title}}</view>
      <view>
        <image src='{{item.author.avatar}}' mode='widthFix' style='width: 100rpx;'></image>{{item.author.name}}
        <text wx:if='{{item.author.signature}}'>({{item.author.signature}})</text>
      </view>
      <view>{{item.summary}}</view>
    </view>
  </view>
  <view style='margin-top: 22rpx;'>
    <view>剧照欣赏，点击查看大图</view>
    <view>
      <image wx:for='{{item.photos}}' wx:key='id' src='{{item.image}}' mode='widthFix' bindtap='previewImage' data-path='{{item.image}}'></image>
    </view>
  </view>
</view>